.header {
  display: flex;
  align-items: center;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header .logo {
  max-height: 30px;
}

.header .title-group {
  color: rgb(160, 18, 24);
  padding-left: 20px;
}
