<mat-card class="home mat-elevation-z3">
  <mat-card-title class="title"> Bem vindo! </mat-card-title>
  <mat-card-subtitle class="subtitle">
    Os melhores preços para você!
  </mat-card-subtitle>
  <mat-card-subtitle class="subtitle">
    Venha conhecer nosso protos e aproveitar nossa <strong>SUPER</strong> proproções do <strong>ESQUENTA! <i class="material-icons"> local_fire_department </i> BLACK FRIDAY</strong>
  </mat-card-subtitle>
  <mat-card-subtitle class="subtitle">
    Confira umas de nossas promoções!
  </mat-card-subtitle>
  <img class="imgVertical" src="https://lojasrede.vteximg.com.br/arquivos/_mural-black-friday-d4_kit-forca-vitamina.jpg?v=637727495226670000" alt="Promoção1">
  <img class="imgVertical" src="https://lojasrede.vteximg.com.br/arquivos/_mural-black-friday-d4_fica-a-dica-amend2.jpg?v=637726866519000000" alt="Promoção2">
  <img class="imgVertical" src="https://lojasrede.myvtex.com/arquivos/_mural-black-friday-d4_tintura-alfaparf2.jpg?v=637726866524470000" alt="Promoção3">
  <img class="imgVertical" src="https://lojasrede.vteximg.com.br/arquivos/_mural-black-friday-d4_spray-rapunzel-lola3.jpg?v=637726929784500000" alt="Promoção4">
  <img class="imgHorizontal" src="https://lojasrede.myvtex.com/arquivos/_mural-black-friday-d4_fralda-ultra-babysec2.jpg?v=637726866521330000" alt="Promoção5">
  <img class="imgHorizontal" src="https://lojasrede.vteximg.com.br/arquivos/_mural-black-friday-d4_creme-pentear-1kg-skafe2.jpg?v=637726866517600000" alt="Promoção6">
  <img class="imgTotal" src="https://lojasrede.myvtex.com/arquivos/unilever-capa.jpg?v=637713964886700000" alt="Promoção7">
</mat-card>